<h1>Регистрация</h1>
<p>Спасибо за начало регистрации на сайте Бумажная Гильдия</p>

<p>Перейдите по ссылке, для подтверждения электронного адреса и продолжения регистрации.</p>
<p>
  <a href="<%= @link_to_reg %>"> <%= @link_to_reg %></a>
</p>
