<h1>Бумажная гильдия: инструкция по разблокировке</h1>

<p>Перейдите по ссылке, для подтверждения электронного адреса и разблокировки профиля.</p>
<p>
  <a href="<%= @link_to_unlock %>"> <%= @text_to_unlock %></a>
</p>
